<ion-header>
  <ion-navbar color="orange">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Queues</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-list no-padding>
    <ion-item-divider color="light">Favorites</ion-item-divider>    
    <p padding *ngIf="(items|async)?.length==0" color="button">You have no favorite queues. You can favorite a queue after finding it.</p>    
    <ion-item padding-left padding-right *ngFor="let item of items | async" (click)="openQueueStatus(item.$key)">
      <ion-icon name="star" style="float:right;color:lightgray"></ion-icon>
      <h2>{{item.qname}}</h2>
      <p>{{item.qaddress}}</p>
    </ion-item>
  </ion-list>

  <ion-item-divider color="light">Search</ion-item-divider>
  <ion-searchbar placeholder="Find queue by facility or queue name" (ionInput)="findQueues($event)"></ion-searchbar>
  <ion-list padding *ngIf="(items1|async)?.length>0">
    <ion-item no-padding *ngFor="let item of items1 | async" (click)="openQueueStatus(item.$key)">
      <h3>{{item.info.facility}} - {{item.info.name}}</h3>
      <p>{{item.info.address}}</p>
      <p color="danger">{{item.curStats?.numTokensInQueue}} token(s) currently in queue</p>
    </ion-item>
  </ion-list>

  <ion-list padding>
    <ion-item no-padding *ngFor="let item of items2 | async" (click)="openQueueStatus(item.$key)">
      <h3>{{item.info.facility}} - {{item.info.name}}</h3>
      <p>{{item.info.address}}</p>
      <p color="danger">{{item.curStats?.numTokensInQueue}} token(s) currently in queue</p>
    </ion-item>
  </ion-list>
</ion-content>
