<ion-header>
  <ion-navbar color="orange">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>My Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="avatar-div" style="margin-top:0px !important">
       <img src="assets/img/logo.png" class="avatar-icon"/>
    </div>
    <br><br>
    <form class="my-profile">
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input type="text" [value]="user.name || 'Unknown'" disabled></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Phone</ion-label>
        <ion-input type="text" [value]="user.phone" disabled></ion-input>
      </ion-item>
    </form>
  </ion-card>
</ion-content>
