<ion-header>
  <ion-navbar color="orange">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>My Queues</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="createQueue()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list no-padding>
    <ion-item-sliding *ngFor="let item of items|async">
      <button ion-item no-padding (click)="openQueueStatus(item.$key)">
        <h2>{{item.$value}}</h2>
      </button>
      <ion-item-options side="right">
        <button icon-only ion-button (click)="deleteQueue(item.$key)" color="danger">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>