page-login {
  .logo-div {
    width: 150px;
    margin: 10% auto 0;

    .img-logo {
      width: 100%;
    }
  }
  .lock-div {
    width: 40px;
    margin: 14px auto;
    
    .lock-icon {
      width: 100%;
    }
  }
  ion-item:not(.item-ios) {
    padding-left: 0;
  }
  ion-item ion-input {
    font-size: 14px;
  }
  .input-wrapper .label {
    font-size: 12px;
  }
  .bottom-label-div {
    text-align: center;
    margin-top: 10px;
    line-height: 14px;
    margin-bottom: 10px;
    text-indent: 10px;

    p.bottom-label {
      color: #C4C4C4 !important;
      font-size: 12px;
      margin: 0;
    }
  }
}
