<ion-content padding>
    <div class="logo-div">
      <img src="assets/img/logo.png" class="img-logo"/>
    </div>
    <div class="lock-div">
      <img src="assets/img/lock_icon.png" class="lock-icon"/>
    </div>

    <form name="myForm" [formGroup]="form" novalidate>
      <ion-list>
        <ion-item>
          <ion-label floating>Your Name</ion-label>
          <ion-input formControlName="userName" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Your Phone #</ion-label>
          <ion-input formControlName="userPhone" type="tel"></ion-input>
        </ion-item>
      </ion-list>
      
      <br>

      <button ion-button (click)="signIn()" block color="primary" ng-disabled="myForm.$invalid">Sign In</button>
      <p>
      <button ion-button (click)="signUp()" block color="secondary" ng-disabled="myForm.$invalid">Sign up</button>
      <p>
      <button ion-button (click)="signInTestUser()" block outline color="dark">Sign In Test</button>
    </form>
</ion-content>
