<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="light">
      <div class="menu-avatar-div">
        <img src="assets/img/logo.png" class="avatar-icon"/>
      </div>
      <ion-title>Quto</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list class="menu-item-div">
      <a ng-href="#" class="a-menu" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <div class="menu-item">
          <img src="assets/img/{{p.img}}" class="menu-icon"/>
          <span class="menu-item-label" [ngClass]="{'menu-active': menuitem == p.index}">{{p.title}}</span>
          <div class="separator"></div>
        </div>
      </a>
      <a ng-href="#" class="a-menu" menuClose ion-item (click)="signOut()">
        <div class="menu-item">
          <img src="assets/img/menu_icon_signout.png" class="menu-icon"/>
          <span class="menu-item-label">Sign Out</span>
          <div class="separator"></div>
        </div>
      </a>
    </ion-list>
  </ion-content>

</ion-menu>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>