.start-fill {
  position: absolute;
  border: 0.08em solid #4DB53C;
  width: 0.84em;
  height: 0.84em;
  clip: rect(0em, 0.5em, 1em, 0em);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.end-fill {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
@mixin transform-bar-mixin($token-number) {
  $degree: ($token-number/100 * 360)+deg;
  -webkit-transform: rotate($degree);
  -moz-transform: rotate($degree);
  -ms-transform: rotate($degree);
  -o-transform: rotate($degree);
  transform: rotate($degree);
}
page-mytokens {
  ion-item-divider {
    text-align:center;

    ion-label {
      margin: 8px !important;
      font-size:14px;
    }
  }
  ion-avatar {
    .c100 {
      position: relative;
      font-size: 100px;
      width: 1em;
      height: 1em;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      float: left;
      margin: 0 0.1em 0.1em 0;
      background-color: aliceblue;

      &.center {
        float: none;
        margin: 0 auto;
      }
      &.small {
        font-size: 50px;
      }
      &.expired {
        background-color: #808080;
        > span {
          color: #808080;
        }
      }
      *, *:before, *:after {
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
      }
      > span {
        position: absolute;
        width: 100%;
        z-index: 1;
        left: 0;
        top: 0;
        font-size: 0.4em;
        font-weight: bold;
        line-height: 2.5em;
        width: 2.5em;
        color: #ffffff;
        display: block;
        text-align: center;
        white-space: nowrap;
        -webkit-transition-property: all;
        -moz-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: ease-out;
        -moz-transition-timing-function: ease-out;
        -o-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
      }
      .slice {
        position: absolute;
        width: 1em;
        height: 1em;
        clip: rect(0em, 1em, 1em, 0.5em);
      }
      @for $i from 0 through 50 {
        &.p#{$i} {
          .bar {
            @include transform-bar-mixin($i);
          }
        }
      }
      @for $i from 51 through 100 {
        &.p#{$i} {
          .slice {
            clip: rect(auto, auto, auto, auto);
          }
          .fill {
            @extend .start-fill;
            @extend .end-fill;
          }
          .bar {
            @include transform-bar-mixin($i);

            &:after {
              @extend .end-fill;
            }
          }
        }
      }
      .bar {
        @extend .start-fill;
      }

      &:after {
        position: absolute;
        top: 0.08em;
        left: 0.08em;
        display: block;
        content: " ";
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        background-color: color($colors, token, base);
        width: 0.84em;
        height: 0.84em;
        -webkit-transition-property: all;
        -moz-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: ease-in;
        -moz-transition-timing-function: ease-in;
        -o-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
      }
      &:hover {
        /*cursor: pointer;

        &:after {
          top: 0.04em;
          left: 0.04em;
          width: 0.92em;
          height: 0.92em;
        }
        > span {
          width: 3.33em;
          line-height: 3.33em;
          font-size: 0.3em;
          color: #4DB53C;
        }*/
      }
    }
  }

  .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 1px 1px 1px black;
    font-size: 20px;
    vertical-align: middle;
    color: white;
    line-height: 50px;
    text-align: center;
    background: color($colors, token, base);
    display: table-cell;
  }
}
