<ion-header>
  <ion-navbar color="orange" hideBackButton="true">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>My Tokens</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-list no-padding>
    <ion-item-divider color="light">Active</ion-item-divider>
    <p padding *ngIf="(items1|async)?.length==0" color="button">You have no active tokens. Let's go get some! Press the + button to find a queue and pick a token.</p>
    <ion-item padding-left padding-right *ngFor="let item of items1 | async" no-padding (click)="openTokenStatus(item)">
      <ion-avatar item-left>
        <!--
        <div class="c100 center small" [ngClass]="'p' + (item.number/max_token_num*100 | number:'1.0-0')">
          <span>{{item.number}}</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>-->
        <div class="circle"><span>{{item.number}}</span></div>
      </ion-avatar>
      <h2>{{item.queueName}}</h2>
      <p>{{item.status}}</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item-divider color="light">Expired</ion-item-divider>
    <ion-item padding-left padding-right *ngFor="let item of items2 | async" no-padding (click)="openTokenStatus(item)">
      <ion-avatar item-left>
        <!--<div class="c100 center small expired" [ngClass]="'p' + ((item.number/max_token_num*100) | number:'1.0-0')">
          <span>{{item.number | number:'1.0-0'}}</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>-->
        <div class="circle" style="background-color:gray"><span>{{item.number}}</span></div>
      </ion-avatar>
      <h2 style="color:gray">{{item.queueName}}</h2>
      <p>{{item.status}}</p>
    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab mini color="orange" (click)="openQueuesPage()">
      <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
