page-admin {
  ion-card {
    &.card {
      padding: 0 16px;
      box-shadow: none;

      .avatar-div {
        background: #FFFFFF;
        height: 100px;
        padding: 10px;
        margin-top: 0px !important;

        .avatar-icon {
          height: 100%;
          width: auto;
          margin: 0 auto;
        }
      }
      .my-profile {
        ion-item {
          border-bottom: 1px solid rgb(222,222,222);

          ion-label {
            font-size: 16px;
            min-width: 70px;
          }
          ion-input {
            .text-input[disabled] {
              opacity: .8;
            }
          }
        }
      }
    }
  }
}
