<ion-header>
  <ion-navbar color="orange">
    <ion-title>Token {{token?.number}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding class="backcolor">
  <div class="info-card">
    <h5 class="queuename">{{(q|async)?.info.facility}} - {{(q|async)?.info.name}}</h5>
    <p class="address">
      {{(q|async)?.info.address}}<br>
      Hours: {{(q|async)?.info.businessStartTime}} - {{(q|async)?.info.businessEndTime}}
    </p>
    <hr>
    <a href="tel:{{(q|async)?.info.phone}}" button ion-button small round outline style="color:gray;border:solid 1px gray">Call</a>
    <a href="https://www.google.com/maps/search/?api=1&query={{uriAddr}}" target="_system" button ion-button small round outline style="color:gray;border:solid 1px gray">Map</a>
  </div>

  <ion-row>
    <ion-col>
      <ion-card class="token-card">
        <div class="label">Your Token</div>
        <div class="spacer"></div>
        <div class="token-number circle">{{token?.number}}</div>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="eta-card">
        <div class="label">Estimated Call Time</div>
        <div class="spacer"></div>
        <h1 class="eta">{{eta}}</h1>
        <span class="ampm">{{ampm}}</span>
        <h4>{{(q|async)?.curStats.date}}</h4>
        <button ion-button outline *ngIf="token?.status=='Expired'" style="top:20px" color="dark">Expired</button>
        <button ion-button *ngIf="token?.status=='Called'" style="top:20px" color="primary">Calling Now</button>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-item no-padding style="border:0px">
    <p style="text-align:center;color:red">{{(q|async)?.curStats.statusMsg}}</p>
    <p *ngIf="!(q|async)?.curStats.statusMsg" style="text-align:center">No status message set</p>
  </ion-item>

  <div *ngIf="token?.status!='Expired'">
    <ion-row padding>
      <ion-col no-padding>
        <div class="token-status left" style="border: solid 1px green">
          <span>Now Serving</span>
          <div class="spacer" style="height:5px"></div>
          <span class="nowserving">
            <b>{{(q|async)?.curStats.nowServingToken || '-'}}</b>
          </span>
        </div>
      </ion-col>
      <ion-col no-padding>
        <div class="token-status center" style="border: solid 1px darkgoldenrod">
          <span>Queue Pos</span>
          <div class="spacer" style="height:5px"></div>
          <span class="inqueue">
            <b>{{tokenPosition || '-'}}/{{(q|async)?.curStats.numTokensInQueue}}</b>
          </span>
        </div>
      </ion-col>
      <ion-col no-padding>
        <div class="token-status right" style="border: solid 1px gray">
          <span>Avg Time</span>
          <div class="spacer" style="height:5px"></div>
          <span class="avgtime">
            <b>{{(q|async)?.curStats.avgTimePerToken}}m</b>
          </span>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <ion-footer padding>
    <button ion-button round block (click)="showDropConfirm()" [disabled]="token?.status=='Expired'" color="button">Drop Token</button>
  </ion-footer>
</ion-content>
