<ion-header>
  <ion-navbar color="orange">
    <ion-title>{{q ? 'Edit Queue' : 'Create Queue'}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form">
    <ion-list>
      <ion-item-divider><h2 style="text-align:center;color:crimson">Queue Info</h2></ion-item-divider>
      <ion-item>
        <ion-label floating>Facility Name</ion-label>
        <ion-input formControlName="facilityName" [(ngModel)]="facilityName" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Queue Name</ion-label>
        <ion-input formControlName="queueName" [(ngModel)]="queueName" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Address</ion-label>
        <ion-input formControlName="address" [(ngModel)]="address" type="text"></ion-input>
      </ion-item>
      <br>
      <ion-item-divider><h2 style="text-align:center;color:crimson">Daily Times</h2></ion-item-divider>      
      <ion-item>
        <ion-label floating>Business Start Time</ion-label>
        <ion-input formControlName="businessStartTime" [(ngModel)]="businessStartTime" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Business End Time</ion-label>
        <ion-input formControlName="businessEndTime" [(ngModel)]="businessEndTime" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Queue Open Time</ion-label>
        <ion-input formControlName="queueOpenTime" [(ngModel)]="queueOpenTime" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Queue Close Time</ion-label>
        <ion-input formControlName="queueCloseTime" [(ngModel)]="queueCloseTime" type="text"></ion-input>
      </ion-item>
    </ion-list>
    <br>
    <button ion-button (click)="saveQueue()" block color="secondary">{{q ? 'Save' : 'Create'}}</button>
  </form>
</ion-content>
