// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/lato.woff2') format('woff2');
}

* {
  font-family: 'Lato';
}

ion-menu {
  ion-header {
    .toolbar {
      text-align: center;

      .menu-avatar-div {
        height: 40px;
        text-align: center;
        display: inline-block;
        vertical-align: middle;

        .avatar-icon {
          height: inherit;
        }
      }
      .title {
        display: inline-block;
        vertical-align: middle;

        .toolbar-title {
          color: #f00;
        }
      }

      &.toolbar-ios {
        .menu-avatar-div {
          height: 36px;
        }
        .title {
          position: relative;
          padding: 0 12px;
          width: inherit;
        }
      }
    }
  }
  ion-content {
    background-color: #F6F6F6;

    .scroll-content {
      overflow-y: auto;

      .menu-item-div {
        padding: 10px 10px 0 10px;
      }
      .a-menu {
        .item-inner {
          border-bottom: 0px;

          ion-label {
            margin: 0;

            .menu-item {
              width: 100%;
              position: relative;

              img.menu-icon {
                width: 20px;
                float: left;
                margin-top: 11px;
              }
              .menu-item-label {
                color: #666666;
                font-size: 16px;
                margin-left: 22px;
                line-height: 42px;

                &.menu-active {
                  color: #00897b !important;
                  font-weight: 800;
                }
              }
              .separator {
                background-color: #DEDEDE;
                width: 100%;
                height: 2px;
              }
            }
          }
        }
        &:first-child:not(.item-ios) {
          border-top: 0px;
        }
        &:last-child {
          &:not(.item-ios) {
            border-bottom: 0px;
          }
          .separator {
            display: none;
          }
        }
      }
    }
    &.content-ios {
      &:not([no-bounce]) {
        > .scroll-content {
          &:before {
            bottom: 0px;
          }
        }
      }
    }
  }
  ion-backdrop {
    &.show-backdrop {
      opacity: .01 !important;
    }
  }
}
ion-nav {
  .ion-page {
    ion-content {
      .scroll-content {
        overflow-y: auto;
      }
      &.content-ios {
        &:not([no-bounce]) {
          > .scroll-content {
            &:before {
              bottom: 0px;
            }
          }
        }
      }
    }
  }
}
