page-queue-status {

  .tabs-md .tab-button[aria-selected=true] {
    color: crimson; 
    background: #b0bec5; 
  }

  .tabs-md .tab-button[aria-selected=false] {
    color: black; 
    background: #b0bec5; 
  }

  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
    border-bottom-color: lightgray;
    box-shadow: none;
  }

  .force-back-button .back-button {
    display: inline-block;
  }

  .backcolor {
    background-color: #ebf6f9;
  }

  ion-header {
    ion-navbar {
      &.toolbar {
        button {
          margin-left: 10px;
        }
      }
    }
  }
  ion-content {
    .info-card {
      padding: 10px;
      margin: 0px;
      width: 100%;
      text-align:center;
      .queuename {
        font-weight: bold;
        font-size: 16px;
      }
      .address {
        font-size:12px;
      }
    }
    .queue-status {
      background-color: whitesmoke;
      border: solid 1px gray;
      border-radius: 5px;
      width: 70px;
      height: 50px;
      text-align: center;

      &.left {
        float: left;
      }
      &.center {
        margin: 0 auto;
      }
      &.right {
        float: right;
      }

      span {
        font-size: 10px;

        &.nowserving {
          font-size: 18px;
          color: #444;
        }
        &.inqueue {
          font-size: 18px;
          color: #444;
        }
        &.avgtime {
          font-size: 16px;
          color: #444;
        }
      }
    }
    .spacer {
      width: 100%;
      height: 10px;
    }

    .circle {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      box-shadow: 1px 1px 1px gray;
      font-size: 20px;
      vertical-align: middle;
      color: white;
      line-height: 50px;
      text-align: center;
      background: color($colors, token, base);
      display: table-cell;
    }
  }
}
