<ion-header>
  <ion-navbar color="orange" class="force-back-button">
    <ion-title>Queue</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="editQueueInfo()">
        <ion-icon name="md-create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <div class="info-card">
    <h5 class="queuename">{{(q|async)?.info.facility}} - {{(q|async)?.info.name}}</h5>
    <p class="address">
      {{(q|async)?.info.address}}<br>
      Hours: {{(q|async)?.info.businessStartTime}}-{{(q|async)?.info.businessEndTime}}
    </p>
    <hr>
    <button *ngIf="!(q|async)?.curStats.paused" ion-button round small outline color="button" (click)="pauseQueue()">Pause Queue</button>
    <button *ngIf="(q|async)?.curStats.paused" ion-button round small outline color="button" (click)="resumeQueue()">Resume Queue</button>
    <button ion-button small round outline color="button" (click)="resetQueue()">Clear Tokens</button>
  </div>
  <br>
  <ion-item padding-left padding-right>
    <ion-label stacked>Status</ion-label>
    <ion-input type="text" placeholder="Set status msg" [(ngModel)]="statusTxt" style="font-size:14px"></ion-input>
    <button item-right ion-button icon-only small clear color="button" (click)="setStatusMsg()"><ion-icon name="md-send"></ion-icon></button>
  </ion-item>

  <br><br>
  <div>
    <ion-row padding>
      <ion-col no-padding>
        <div class="queue-status left" style="border:solid 1px green">
          <span>Now Serving</span>
          <div class="spacer" style="height:5px"></div>
          <span class="nowserving">
            <b>{{(q|async)?.curStats.nowServingToken || '-'}}</b>
          </span>
        </div>
      </ion-col>
      <ion-col no-padding>
        <div class="queue-status center" style="border:solid 1px darkgoldenrod">
          <span>In Queue</span>
          <div class="spacer" style="height:5px"></div>
          <span class="inqueue">
            <b>{{(q|async)?.curStats.numTokensInQueue}}</b>
          </span>
        </div>
      </ion-col>
      <ion-col no-padding>
        <div class="queue-status right" style="border:solid 1px gray">
          <span>Avg Time</span>
          <div class="spacer" style="height:5px"></div>
          <span class="avgtime">
            <b>{{(q|async)?.curStats.avgTimePerToken}}m</b>
          </span>
        </div>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
