page-queue-status {
  .info-card {
    background:white;
    padding: 5px;
    margin: 0px;
    width: 100%;
    text-align:center;
    .queuename {
      font-weight: bold;
      font-size: 18px;
    }
    .address {
      font-size:14px;
    }
  }
  .token-status {
    background-color: whitesmoke;
    border: solid 1px gray;
    border-radius: 5px;
    width: 70px;
    height: 50px;
    text-align: center;

    &.left {
      float: left;
    }
    &.center {
      margin: 0 auto;
    }
    &.right {
      float: right;
    }

    span {
      font-size: 10px;

      &.nowserving {
        font-size: 18px;
        color: #444;
      }
      &.inqueue {
        font-size: 18px;
        color: #444;
      }
      &.avgtime {
        font-size: 16px;
        color: #444;
      }
    }
  }
  .token-card {
    height:160px;
    text-align:center;
    float:left;
    color:white;
    background-color: whitesmoke;

    .label {
      background-color:dimgray;
      padding: 4px;
      color:white;
      font-size: 14px;
    }
    .spacer {
      width: 100%;
      height: 10px;
    }
  }
  .eta-card {
    height:160px;
    text-align:center;
    float:right;
    background-color: whitesmoke;

    .label {
      background-color:dimgray;
      padding: 4px;
      color:white;
      font-size: 14px;
    }
    .eta {
      font-size:44px;
    }
    .ampm {
      text-transform: uppercase;
    }
  }
  .spacer {
    width: 100%;
    height: 20px;
  }

  .circle {
    min-width: 100px;
    min-height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 1px 1px 1px black;
    font-size: 60px;
    color: white;
    line-height: 100px;
    text-align: center;
    background: color($colors, token, base);
    display: inline-block;
  }
}
