<ion-header>
  <ion-navbar color="orange">
    <ion-title>Queue</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="faveQueue()">
        <ion-icon name="star-outline" *ngIf="!isFavorite" ></ion-icon>
        <ion-icon name="star" *ngIf="isFavorite"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <div class="info-card">
    <h5 class="queuename">{{(q|async)?.info.facility}} - {{(q|async)?.info.name}}</h5>
    <p class="address">
      {{(q|async)?.info.address}}<br>
      Hours: {{(q|async)?.info.businessStartTime}} - {{(q|async)?.info.businessEndTime}}
    </p>
    <hr>
    <a href="tel:{{(q|async)?.info.phone}}" button ion-button small round outline style="color:gray;border:solid 1px gray">Call</a>
    <a href="https://www.google.com/maps/search/?api=1&query={{uriAddr}}" target="_system" button ion-button small round outline style="color:gray;border:solid 1px gray">Map</a>
  </div>

  <ion-row>
    <ion-col>
      <ion-card class="token-card">
        <div class="label">Next Available Token</div>
        <div class="spacer"></div>
        <h1 class="token-number circle">{{(q|async)?.curStats?.nextAvailableToken}}</h1>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="eta-card">
        <div class="label">Estimated Call Time</div>
        <div class="spacer"></div>
        <h1 class="eta">{{eta}}</h1>
        <span class="ampm">{{ampm}}</span>
        <h4>{{(q|async)?.curStats?.date}}</h4>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-item no-padding>
    <p *ngIf="!isQueueOpen" style="text-align:center;color:red">Queue is currently closed or paused.</p>
    <p style="text-align:center;color:red">{{(q|async)?.curStats.statusMsg}}</p>
  </ion-item>

  <div>
    <ion-row padding>
      <ion-col no-padding>
        <div class="token-status left" style="border: solid 1px green">
          <span>Now Serving</span>
          <div class="spacer" style="height:5px"></div>
          <span class="nowserving">
            <b>{{(q|async)?.curStats.nowServingToken || '-'}}</b>
          </span>
        </div>
      </ion-col>
      <ion-col no-padding>
        <div class="token-status center" style="border: solid 1px darkgoldenrod">
          <span>In Queue</span>
          <div class="spacer" style="height:5px"></div>
          <span class="inqueue">
            <b>{{(q|async)?.curStats.numTokensInQueue}}</b>
          </span>
        </div>
      </ion-col>
      <ion-col no-padding>
        <div class="token-status right" style="border: solid 1px gray">
          <span>Avg Time</span>
          <div class="spacer" style="height:5px"></div>
          <span class="avgtime">
            <b>{{(q|async)?.curStats.avgTimePerToken}}m</b>
          </span>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <ion-footer padding>
    <button ion-button block round (click)="pickToken()" [disabled]="!isQueueOpen" color="button">Pick Token</button>
  </ion-footer>
</ion-content>
