<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img id="animation-img" #animationImg src="assets/img/q.png">
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>